$BorderFilter: 2px solid black;

.filter-div {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .filter-content {
    width: 14.2%;
    font-size: 16px;
    border: $BorderFilter;
    height: 4vh;
    min-height: 30px;
    background-image: url("../../Images/search-icon.png");
    background-position: 10px 6px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 35px;
    margin-left: 2%;
  }
  .filter-label {
    font-size: 19px;
    font-family: "Verdana";
    
  }
  .filter-dropdown {
    width: 6%;
    height: 4.9vh;
    border: $BorderFilter;
    font-size: 15px;
  }
